#navBarTop .navbar-nav .nav-item.active{
    border-bottom: 4px solid black;
}

#navBarSocialMedia li a:hover{
    text-shadow: 1px 2px 20px black;
}

.vertical-divider{
    text-align: center;
    height:30px;
    margin-left: 2%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal-divider{
	text-align: center;
	width: 5%;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
}

.headTopic{
    font-family: "work sans", serif;
    font-size: 250%;
}

.download-btn{
  text-decoration: none;
  background-color: #2f2c2c;
  border: none;
  color: #ffffff;
  padding: 2% 2%;
  cursor: pointer;
  font-size: 70%;
  border-radius: 0;
}

.download-btn:hover{
    background-color: #565252;
    color: #ffffff;
    font-size:  69%
}

body{
	font-family: Roboto;
	font-size: 150%;
}
